{% extends 'base.html.twig' %}

{% block title %}New ShopClient{% endblock %}

{% block body %}
    <h1>Create new ShopClient</h1>

    {{ include('shop_client/_form.html.twig') }}

    <a href="{{ path('shop_client_index') }}">back to list</a>
{% endblock %}
